
h1{
    font-size: 50pt; 
    text-transform: uppercase
}

p{
    align-content: center;
    background: blue
}

img{
    border-radius: 20%;
    width: 30%; 
    height: 30%
}

body{
    font-family: Arial;
    background-image: url("https://goo.gl/9EtBc6");

}
#secondid{
	
	display: table-cell;
	
	text-align: center;
	color: lime;
}
.firstclass{
	color: lime;
	text-align: center;
}
#mid{text-decoration: underline;
		text-align: center;
}
/*@keyframes example{
	
	0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: black;}
    100% {background-color: green;}
}
*
.all{
	
	background-color: red;
	animation-name: example;
	animation-duration: 2s;
	
}
